{erl_opts, [
	{parse_transform, lager_transform}, debug_info, warnings_as_errors,
	{platform_define, "(?=^[0-9]+)(?!^17$)", time_correction}
]}.
{deps,
 [
  {lager, "~>3.4.1"}
 ]}.

{profiles,
 [{lint,  [{plugins, [rebar3_lint]}]},
  {shell, [{deps, [sync]}]},
  {eqc, [{erl_opts, [{d, 'TEST'}]}, {deps, [meck]}, {plugins, [rebar_eqc]}]}]}.
